<script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            primary: "#009DDD",
            secondary: "#010101",
          },
          spacing: {
            240: "240px",
            40: "40px",
          },
          maxWidth: {
            container: "1440px",
          },
          fontFamily: {
              barlow: ["'Barlow Condensed'", "sans-serif"],
          },
        },
      },
    };
  </script>

<header class="bg-white border-b shadow-md font-barlow">
    <div class="w-[1440px] mx-auto flex items-center justify-between py-4">
        <!-- Logo -->
        <a href="index.html" class="flex items-center">
            <img src="./assets/images/logo.png" alt="Logo" class="w-[171px] h-[59px]">
        </a>        
        <!-- Navigation Links -->
        <nav>
            <ul class="flex space-x-[60px] text-gray-700 font-medium">
                <li><a href="index.html" class="hover:text-primary text-xl">HOME</a></li>
                <li><a href="about.html" class="hover:text-primary text-xl">ABOUT US</a></li>
                <li><a href="products.html" class="hover:text-primary text-xl">PRODUCT</a></li>
                <li><a href="gallery.html" class="hover:text-primary text-xl">GALLERY</a></li>
                <li><a href="global-network.html" class="hover:text-primary text-xl">GLOBAL NETWORK</a></li>
                <li><a href="blog.html" class="hover:text-primary text-xl">BLOG</a></li>
                <li><a href="contact.html" class="hover:text-primary text-xl">CONTACT US</a></li>
            </ul>
        </nav>
        <!-- Search Icon -->
        <div>
            <button class="bg-primary bg-opacity-20 p-2 rounded-md">
                <img src="../assets/icons/search.png" alt="Logo" class="h-6" >
            </button>
        </div>
    </div>
</header>
