<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="bg-white font-barlow lg:shadow-none shadow-md ">
      <div
        class="max-w-container mx-auto flex items-center justify-between lg:py-10 lg:px-0 px-3 py-4"
      >
        <!-- Logo -->
        <a href="index.html" class="flex items-center">
          <img
            src="./assets/images/logo.png"
            alt="Logo"
            class="md:w-[171px] md:h-[59px] w-24"
          />
        </a>
        <!-- Navigation Links -->
        <nav>
          <ul class="lg:flex space-x-10 text-gray-700 font-medium hidden">
            <li>
              <a
                href="index.html"
                data-page="home"
                class="nav-link hover:text-primary text-secondary font-semibold text-2xl"
                >HOME</a
              >
            </li>
            <li>
              <a
                href="about.html"
                data-page="about"
                class="nav-link hover:text-primary text-secondary font-semibold text-2xl"
                >ABOUT US</a
              >
            </li>
            <li>
              <a
                href="products.html"
                data-page="products"
                class="nav-link hover:text-primary text-secondary font-semibold text-2xl"
                >PRODUCT</a
              >
            </li>
            <li>
              <a
                href="gallery.html"
                data-page="gallery"
                class="nav-link hover:text-primary text-secondary font-semibold text-2xl"
                >GALLERY</a
              >
            </li>
            <li>
              <a
                href="global-network.html"
                data-page="global-network"
                class="nav-link hover:text-primary text-secondary font-semibold text-2xl"
                >GLOBAL NETWORK</a
              >
            </li>
            <li>
              <a
                href="blog.html"
                data-page="blog"
                class="nav-link hover:text-primary text-secondary font-semibold text-2xl"
                >BLOG</a
              >
            </li>
            <li>
              <a
                href="contact.html"
                data-page="contact"
                class="nav-link hover:text-primary text-secondary font-semibold text-2xl"
                >CONTACT US</a
              >
            </li>
          </ul>
        </nav>

        <!-- Search Icon -->
        <div class="flex items-center justify-between gap-3">
          <button class="bg-primary bg-opacity-10 md:p-3 p-2 rounded-md">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              class="md:w-5 md:h-5 w-4 h-4"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.504 20.9967C7.70715 20.9967 3.00781 16.2975 3.00781 10.5005C3.00781 4.70362 7.70709 0.00439453 13.504 0.00439453C19.3009 0.00439453 24.0002 4.70368 24.0002 10.5006C24.0002 16.2975 19.3009 20.9967 13.504 20.9967ZM13.504 3.00332C9.36336 3.00332 6.00674 6.35994 6.00674 10.5006C6.00674 14.6412 9.36336 17.9979 13.504 17.9979C17.6447 17.9979 21.0013 14.6412 21.0013 10.5006C21.0013 6.35994 17.6446 3.00332 13.504 3.00332Z"
                fill="#009DDD"
              />
              <path
                d="M1.50815 23.9958C1.31081 23.9969 1.11519 23.9591 0.932499 23.8845C0.749809 23.8099 0.583648 23.6999 0.443545 23.5609C-0.144446 22.9777 -0.148323 22.0284 0.434863 21.4404L0.443545 21.4317L6.08148 15.7938C6.69015 15.2058 7.66023 15.2226 8.24822 15.8312C8.83621 16.4399 8.81942 17.41 8.21075 17.998L2.57276 23.5609C2.43266 23.6999 2.2665 23.8099 2.08381 23.8845C1.90112 23.9591 1.70549 23.9969 1.50815 23.9958Z"
                fill="#009DDD"
              />
            </svg>
          </button>
          <button
            id="menu-button"
            class="bg-primary bg-opacity-10 md:p-3 p-2 rounded-md lg:hidden"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 14 14"
              class="md:w-5 md:h-5 w-4 h-4"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.74995 11.4999H1.74999C1.3 11.4999 1 11.1999 1 10.7499C1 10.2999 1.3 9.99995 1.74999 9.99995H7.74995C8.19995 9.99995 8.49995 10.2999 8.49995 10.7499C8.49995 11.1999 8.19995 11.4999 7.74995 11.4999ZM12.2499 7.74996H1.74999C1.3 7.74996 1 7.44997 1 6.99997C1 6.54997 1.3 6.24997 1.74999 6.24997H12.2499C12.6999 6.24997 12.9999 6.54997 12.9999 6.99997C12.9999 7.44997 12.6999 7.74996 12.2499 7.74996ZM12.2499 3.99999H6.24996C5.79997 3.99999 5.49997 3.69999 5.49997 3.24999C5.49997 2.8 5.79997 2.5 6.24996 2.5H12.2499C12.6999 2.5 12.9999 2.8 12.9999 3.24999C12.9999 3.69999 12.6999 3.99999 12.2499 3.99999Z"
                fill="#009DDD"
              />
            </svg>
          </button>
        </div>
      </div>
    </header>
    <!-- Off-Canvas Menu -->
    <div
      id="offcanvas-menu"
      class="fixed z-30 h-screen top-0 right-0  w-[100%]  rounded-bl-[7rem] bg-[#D9F0FA] shadow-lg transform translate-x-full transition-transform duration-300"
    >
      <div class="p-6 relative h-screen">
        <!-- tower -->
         <img src="assets/images/tower.png" alt="tower" class="absolute -bottom-[15%] -right-1/4 ">
        <!-- Close Button -->
        <div class="flex items-center justify-between mb-6">
          <img
          src="assets/images/footer-logo.png"
          alt="logo"
          class="w-32"
        />
          <button
          id="close-menu"
            type="button"
            class="bg-primary text-white text-xl lg:text-3xl font-medium rounded-lg px-3 lg:px-3 py-3 lg:py-3 shadow-inner-button"
          >
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.37865 14.8501C2.03851 14.8699 1.70399 14.7568 1.44562 14.5347C0.936095 14.0222 0.936095 13.1944 1.44562 12.6818L12.6026 1.52477C13.1326 1.02888 13.9642 1.05644 14.4601 1.5864C14.9085 2.06563 14.9346 2.80223 14.5212 3.31202L3.29851 14.5347C3.0435 14.7536 2.71432 14.8665 2.37865 14.8501Z" fill="white"/>
            <path d="M13.5228 14.8502C13.1781 14.8487 12.8477 14.7118 12.6029 14.4691L1.44587 3.312C0.973822 2.76076 1.038 1.93116 1.58925 1.45907C2.08125 1.03773 2.80685 1.03773 3.29881 1.45907L14.5215 12.6161C15.0514 13.1121 15.0788 13.9438 14.5827 14.4736C14.563 14.4947 14.5426 14.515 14.5215 14.5348C14.3856 14.653 14.2268 14.742 14.055 14.7963C13.8832 14.8505 13.702 14.8689 13.5228 14.8502Z" fill="white"/>
            </svg>
            
          </button>
        
        </div>
        <!-- Search button -->
        <div class="flex items-center gap-4 mb-6 ">
          <input
            type="text"
            id="security-question"
            placeholder="Search"
            class="px-3 py-2 rounded-lg text-xl w-full"
          />
          <div class="flex items-center justify-start">
            <button
              type="button"
              class="bg-primary text-white text-xl lg:text-3xl font-medium rounded-lg px-3 lg:px-3 py-3 lg:py-3 shadow-inner-button"
            >
              <svg
                width="16"
                height="16"
                viewBox="0 0 28 28"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_1_2705)">
                  <path
                    d="M15.7543 24.4961C8.99134 24.4961 3.50879 19.0136 3.50879 12.2505C3.50879 5.48744 8.99128 0.00500488 15.7543 0.00500488C22.5174 0.00500488 27.9999 5.4875 27.9999 12.2506C27.9999 19.0136 22.5174 24.4961 15.7543 24.4961ZM15.7543 3.50375C10.9236 3.50375 7.00754 7.41981 7.00754 12.2506C7.00754 17.0813 10.9236 20.9974 15.7543 20.9974C20.5851 20.9974 24.5012 17.0813 24.5012 12.2506C24.5012 7.41981 20.585 3.50375 15.7543 3.50375Z"
                    fill="white"
                  />
                  <path
                    d="M1.75951 27.9948C1.52928 27.9961 1.30105 27.952 1.08792 27.8649C0.874777 27.7779 0.680922 27.6496 0.517469 27.4875C-0.168521 26.8071 -0.173043 25.6995 0.50734 25.0135L0.517469 25.0034L7.09506 18.4258C7.80517 17.7398 8.93693 17.7594 9.62292 18.4695C10.3089 19.1796 10.2893 20.3114 9.57921 20.9974L3.00155 27.4875C2.8381 27.6496 2.64425 27.7779 2.43111 27.8649C2.21797 27.952 1.98974 27.9961 1.75951 27.9948Z"
                    fill="white"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_2705">
                    <rect width="28" height="28" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
        </div>
        <!-- Navigation Links -->
        <ul class="relative mt-10 space-y-4 text-gray-700 font-medium text-center">
          <!-- vector -->
           <img src="assets/images/banner-vector.png" alt="vector" class="absolute top-0 w-32 right-0">
          <li>
            <a
              href="index.html"
              data-page="home"
              class="nav-link hover:text-primary text-secondary font-semibold text-2xl"
              >HOME</a
            >
          </li>
          <li>
            <a
              href="about.html"
              data-page="about"
              class="nav-link hover:text-primary text-secondary font-semibold text-2xl"
              >ABOUT US</a
            >
          </li>
          <li>
            <a
              href="products.html"
              data-page="products"
              class="nav-link hover:text-primary text-secondary font-semibold text-2xl"
              >PRODUCT</a
            >
          </li>
          <li>
            <a
              href="gallery.html"
              data-page="gallery"
              class="nav-link hover:text-primary text-secondary font-semibold text-2xl"
              >GALLERY</a
            >
          </li>
          <li>
            <a
              href="global-network.html"
              data-page="global-network"
              class="nav-link hover:text-primary text-secondary font-semibold text-2xl"
              >GLOBAL NETWORK</a
            >
          </li>
          <li>
            <a
              href="blog.html"
              data-page="blog"
              class="nav-link hover:text-primary text-secondary font-semibold text-2xl"
              >BLOG</a
            >
          </li>
          <li>
            <a
              href="contact.html"
              data-page="contact"
              class="nav-link hover:text-primary text-secondary font-semibold text-2xl"
              >CONTACT US</a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- Script for Menu Toggle -->
    <script>
      const menuButton = document.getElementById("menu-button");
      const closeMenu = document.getElementById("close-menu");
      const offcanvasMenu = document.getElementById("offcanvas-menu");

      menuButton.addEventListener("click", () => {
        offcanvasMenu.classList.remove("translate-x-full");
      });

      closeMenu.addEventListener("click", () => {
        offcanvasMenu.classList.add("translate-x-full");
      });
    </script>

  </body>
</html>
